#### tuples

- creating strings
- accessing strings
- adding chars in string
- editing strings
- deleting strings
- operations on strings
- string functions

In [48]:
# list = mutable
# tuple = immutable
# tuple are read-only data type

In [49]:
t = ()

In [2]:
t

()

In [36]:
t1 = (1,2,3,4)

In [4]:
t1

(1, 2, 3, 4)

In [6]:
t2 = ('chetan','hello',4,5,6)

In [7]:
t2

('chetan', 'hello', 4, 5, 6)

In [8]:
t3 = (1,2,3,(5,6,7))

In [9]:
t3

(1, 2, 3, (5, 6, 7))

In [10]:
t3[3]

(5, 6, 7)

In [11]:
t4= (1)

In [12]:
type(t4)

int

In [14]:
# single tiem tuple
t5 = (1,)

In [15]:
type(t5)

tuple

In [16]:
t6 = tuple('chetan')

In [17]:
t6

('c', 'h', 'e', 't', 'a', 'n')

In [18]:
t6 = tuple([1,2,3,4,5,6])

In [19]:
t6

(1, 2, 3, 4, 5, 6)

- access

In [20]:
tpl = (1,2,3,(5,6,7))

In [21]:
tpl[-1][1]

6

In [22]:
tpl[:3]

(1, 2, 3)

In [23]:
tpl[2:]

(3, (5, 6, 7))

In [24]:
tpl[:]

(1, 2, 3, (5, 6, 7))

In [25]:
lst = [1,2,3,4,5]

In [26]:
lst[0] = 33

In [27]:
lst

[33, 2, 3, 4, 5]

In [28]:
tp = (1,2,3,4,5)

In [29]:
tp[1] = 33  # tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [30]:
t1

('chetan', 'hello', 4, 5, 6)

In [31]:
del t1

In [32]:
t1

NameError: name 't1' is not defined

In [33]:
t2

('chetan', 'hello', 4, 5, 6)

In [34]:
del t2[-1]  #tuples are immutable

TypeError: 'tuple' object doesn't support item deletion

In [37]:
t3 + t1

(1, 2, 3, (5, 6, 7), 1, 2, 3, 4)

In [38]:
t3 * 2

(1, 2, 3, (5, 6, 7), 1, 2, 3, (5, 6, 7))

In [39]:
for i in t1:
    print(i)

1
2
3
4

In [40]:
1 in t1

True

In [41]:
len(t1)

4

In [42]:
min(t1)

1

In [43]:
max(t1)

4

In [44]:
sum(t1)

10

In [45]:
sorted(t1)

[1, 2, 3, 4]

In [46]:
sorted(t1, reverse=True)

[4, 3, 2, 1]