In [9]:
# lambda has no name and return value
# one line functions
# Not used for code reusability

# syntax
# lambda input expression

In [10]:
lambda x : x**2

In [11]:
y = lambda x : x**2

In [12]:
y(3)

9

In [13]:
sum = lambda x,y : x + y

In [14]:
sum(2,3)

5

In [15]:
type(sum)

function

In [19]:
num = lambda x : 'Even' if x%2 == 0 else 'Odd'

In [20]:
num(4)

'Even'

In [21]:
num(3)

'Odd'

In [25]:
L = [11,14,21,23,56,58,67,28,48,24]

In [27]:
def return_sum(func,L):
    result = 0
    for i in L:
        if func(i):
            result = result + i
    return result

x = lambda x: x%2==0
y = lambda x: x%2!=0
z = lambda x: x%3==0

print(return_sum(x,L))
print(return_sum(y,L))
print(return_sum(z,L))

228
122
93

In [1]:
# map
# filter
# reduce

In [2]:
# Map

In [3]:
l = [1,2,3,4,5,6]

In [4]:
map(lambda x : x * 2, l)

In [5]:
list(map(lambda x : x * 2, l))

[2, 4, 6, 8, 10, 12]

In [7]:
list(map(lambda x:x%2==0, l))

[False, True, False, True, False, True]

In [9]:
students = [
    {
        'name':'Chetan',
        'add':'Nashik',
        'job':'SD'
    },
    {
        'name':'Nikhil',
        'add':'Pune',
        'job':'AD'
    },
    {
        'name':'Dipak',
        'add':'Mumbai',
        'job':'NE'
    }
]

In [10]:
students

[{'name': 'Chetan', 'add': 'Nashik', 'job': 'SD'},
 {'name': 'Nikhil', 'add': 'Pune', 'job': 'AD'},
 {'name': 'Dipak', 'add': 'Mumbai', 'job': 'NE'}]

In [13]:
map(lambda student : student['name'],students)

In [14]:
list(map(lambda student : student['name'],students))

['Chetan', 'Nikhil', 'Dipak']

In [15]:
list(map(lambda student : student['job'],students))

['SD', 'AD', 'NE']

In [16]:
list(map(lambda student : student['add'],students))

['Nashik', 'Pune', 'Mumbai']

In [17]:
# Filter

In [18]:
L = [1,2,3,4,5,6,7]

In [19]:
list(filter(lambda x : x > 4, L))

[5, 6, 7]

In [20]:
A = list(map(lambda student : student['add'],students))

In [21]:
A

['Nashik', 'Pune', 'Mumbai']

In [23]:
list(filter(lambda x : 'a' in x, A))

['Nashik', 'Mumbai']

In [24]:
# Reduce

In [26]:
import functools

In [27]:
L = [1,2,3,4,5,6,7]

In [29]:
functools.reduce(lambda x, y : x + y, L)

28

In [31]:
L1 = [21,12,43,54,67,32,87]

In [32]:
functools.reduce(lambda x, y : x + y, L1)

316

In [35]:
functools.reduce(lambda x, y : x if x>y else y, L1)

87

In [36]:
# List Comprehension

In [37]:
L1 = [item * 2 for item in L]

In [38]:
L1

[2, 4, 6, 8, 10, 12, 14]

In [39]:
L2 = [i**2 for i in range(10)]

In [40]:
L2

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [41]:
l3 = [i**2 for i in range(10) if i%2!=0]

In [43]:
l3

[1, 9, 25, 49, 81]

In [46]:
names = ['Nashik', 'Puna', 'Mumbai']

In [47]:
names

['Nashik', 'Puna', 'Mumbai']

In [50]:
L4 = [name for name in names if 'a' in name]

In [51]:
L4

['Nashik', 'Puna', 'Mumbai']

In [53]:
L5 = [name for name in names if name[0]=='N']

In [54]:
L5

['Nashik']

In [55]:
D = {'Name':'Chetan','Gender':'Male'}

In [56]:
D.items()

dict_items([('Name', 'Chetan'), ('Gender', 'Male')])

In [57]:
D1 = {key:value for key,value in D.items()}

In [58]:
D1

{'Name': 'Chetan', 'Gender': 'Male'}

In [59]:
D1 = {key:value for key,value in D.items() if len(key)>4}

In [60]:
D1

{'Gender': 'Male'}

In [61]:
L = [1,2,3,4,5,6,7]

In [62]:
D = {item:item**2 for item in L}

In [63]:
D

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49}

In [64]:
D = {item:item**2 for item in L if item%2==0}

In [65]:
D

{2: 4, 4: 16, 6: 36}